name: CI
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - name: Run Remark Markdown Linter
        run: |
          npm install
          npm run lint:md
      - name: Run Textlint Markdown Linter
        run: npm run lint:text

  lint-code:
    name: Lint JavaScript
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - name: Run EsLint Node.js Linter
        run: |
          npm install
          npm run lint

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:8.0
        ports:
        - 27017:27017
    strategy:
      matrix:
        node-version:
          - 20.x
          - 22.x
          - 24.x
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: 'Install Node.js ${{ matrix.node-version }}'
        uses: actions/setup-node@v1
        with:
          node-version: '${{ matrix.node-version }}'
      - name: 'Unit and Functional Tests with Node.js ${{ matrix.node-version }}'
        run: |
          npm install
          npm test

  code-coverage:
    name: Coveralls Code Coverage
    runs-on: ubuntu-latest
    needs: unit-test
    services:
      mongodb:
        image: mongo:8.0
        ports:
        - 27017:27017
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: 'Test Coverage with Node.js 24.x'
        uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - run: |
          npm install
          npm run test:coverage
      - name: Push to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  dispatch:
    needs: unit-test
    if: ${{ github.ref == 'refs/heads/master'  && github.event_name == 'push' }}
    strategy:
      matrix:
        repo: ['telefonicaid/iotagent-ul', 'telefonicaid/sigfox-iotagent', 'telefonicaid/iotagent-json', 'telefonicaid/lightweightm2m-iotagent', 'telefonicaid/iotagent-manager']
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: lib-update
